<h1>Shapes#index</h1>

<div class="row">
<% @shapes.each do |shape| %>


  <div class="col-md-4">
    <div class="card mb-4">
      <img src="<%= shape.image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= shape.name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "View Shape", shape, :class => "btn btn-primary" %>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>



<% end %>
</div>
