<style media="screen">
  .landing-link {
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
  }
  .landing-link a {
    color: white;

  }
  .landing-controls {
    margin: 1rem;
    text-align: center;

  }
</style>
<div class="wrap">
  <h1>the Board files</h1>

  <h3>What are the board files?</h3>

  <p>It can be hard to understand the intricacies of snowboard design. Yes the design is important and looking cool gives you that warmy fuzzy feeling inside. But that feeling won't be there when suddenly you're on your arse and losing that arm wrestle between you and your equipment.</p>
  <p>That's right! Sometimes it is your equipment, not you, that means you can't turn that be harder, or spin that bit easier. Why am i sinking is half a metre of snow? Maybe it's me?</p>
  <p>Most of the time, it can be a lack of eperience, but did you ever consider maybe a little more goes into how a board is designed than that pretty design on the bottom of your board that no one will ever see?</p>
  <hr class="my-4">

  <h4>Here are two key features that, believe it or not, make certain styles of riding easier, or are genuinely effected by the riders experience and intention.</h4>
  <div class="landing-controls introduction-farm">
    <h5 class="landing-link btn btn-primary"><%= link_to 'Snowboard Profiles', profiles_path %></h5>
    <h5 class="landing-link btn btn-primary"><%= link_to 'Snowboard Shapes', shapes_path %></h5>
  </div>


</div>
