<h1>Products#index</h1>

<% @products.each do |product| %>

    <div class="product">
      <%= link_to product.brand, product_path(product.id) %>
      <p><%= product.model %></p>
    </div>
<% end %>
