<h1>Products#index</h1>

<% @products.each do |product| %>

    <div class="product">
      <%= link_to(product_path(product.id)) do %>
      <p><%= product.name %></p>
      <% end %>
    </div>
<% end %>
