<h1><%= @review.title %></h1>
<p>Find me in app/views/reviews/show.html.erb</p>


<div class="controls">
  <%= link_to "edit Review", edit_review_path %>
  <%= button_to "Delete", @review, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
